.ticket-card {
  max-width: 400px;
  margin:auto;
  margin-top:20px;
}

.ticket-header-image {
  // background-image: url('../../assets/icons/female.jpg');
  background-size: cover;
  // margin-bottom:20px;
}

.ticket-content {
text-align: center;
margin-top: 20px;
}
